{
	"extends": "plugin:prettier/recommended",
	"plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {
			"singleQuote": true
		}]
	},
	"env": {
		"es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "should": true
  }
}
